# Terraform files
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
tfplan
*.tfplan
plan.out
*.plan
*.tftest.binary
**/.terraform.d/
**/terraform.d/
.terraform.cache/
graph.svg

# Development environments
.env*
.envrc
.direnv/
*venv/
node_modules/

# IDE & OS files
.idea/
.vscode/
*.iml
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
*.swp
*.swo
*~
.project
*.sublime-*
.settings/
.classpath

# Keys and certificates
*.pem
*.key
*.pub
*.crt
*.csr
*.cer

# Logs and reports
*.log
logs/
coverage/
coverage.*.xml
.nyc_output/
test-results/
test-output/
yarn-debug.log*
yarn-error.log*
npm-debug.log*

# Binary and archive files
*.exe
*.dll
*.so
*.dylib
*.pyc
*.pyo
*.pyd
*.zip
*.tar.gz
*.rar
*.7z

# Tool specific
.aws/
.kube/
packer_cache/
*.retry

# Ignore all hidden files by default
.*
# Exceptions
!/.github/
!.tflint.hcl
!/.gitignore
!**.gitkeep
!/.checkov.yml
!/.gitattributes
!/.pre-commit-config.yaml
!/.terraform-docs.yml
!/.golangci.yml
!/.env.example
!*.tfvars.example

# Go
go.mod
go.sum

# Custom ignores
# Add any additional files or directories you wish to ignore below
